<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<div class="container">
	<div class="row">
		<% include partials/sidebar.ejs %>

		<div class="col-md-10">
			<div class="page-header">
				<h1><%= !data ? "New" : "" %> <%= modelName %> <small><%= data ? data[idField] : "" %></small></h1>
			</div>

			<% if(success === "true") { %>
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Success!</strong> Your updates were saved.
			</div>
			<% } %>

			<% if(success === "false") { %>
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Error:</strong> Something went wrong with your request
			</div>
			<% } %>

			<form class="form-horizontal" role="form" action="/administrator/detail?model=<%= modelName %>&id=<%= id ? id : null %>" method="post">
				<% for(var i = 0; i < headers.length; i++) { %>
					<% if(fields[i].key !== "id") { %>
					<div class="form-group">
						<label class="col-sm-2" for="<%= headers[i] %>"><%= fields[i].key %></label>

						<div class="col-sm-10">
							<%- fields[i].html %>
						</div>
					</div>
					<% } %>
				<% } %>

				<hr />

				<button type="submit" class="btn btn-lg btn-default">Save</button>

				<% if(data) { %>
				<a href="/administrator/detail?action=delete&model=<%= modelName %>&id=<%= id %>" class="btn" role="button">Delete</a>
				<% } %>
			</form>
		</div>
	</div>
	<!--/row-->

	<hr>

	<% include partials/footer.ejs %>
</div>
<!--/.fluid-container-->

<% include partials/scripts.ejs %>
<% include partials/end.ejs %>